
header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/bg2.jpg);
}

h1{
    background-color: rgba(248, 248, 248, 0.25);
    margin-top: 80px;
    padding-left: 11rem;
    font-family: 'Verdana';
    color: #416618;
    font-weight: bold;
}

h2{    
    margin-top: 10px;
    color: #416618;
    border-left: 3px #416618 dotted;
    padding: 5px 15px 5px 15px;
    letter-spacing: 1px;
}

h3{    
    font-weight: bold;
    color: #894f3b;    
    text-align: center;
    font-size: 30%;
    letter-spacing: 1px;
}


li{
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;
    text-transform: uppercase;  
}

.navbar{
    background-color: #fd8800;
}

.bekezdes{
    text-indent: 15px;
}
