
header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/bg2.jpg);
}

h1{ 
    opacity:calc(75%);
    margin-top: 80px;
    padding-left: 11rem;
    text-decoration-color: rgb(65, 102, 24);

}

h2{    
    margin-top: 10px; 
    border-inline-color: black;
    border-left: ;   
}

h3{    
    font-weight: bold;
    color: #894f3b;    
}


li{
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}

nav{
    background-color: rgb(215, 60 , 38 );
}

